*.zip
*.txt

runPro2.bat

code/
codec/build/
codec/.vs/
codec/*.exe
codec/code_craft
linuxCode/build/
linuxCode/backup/
linuxCode/code_craft
linuxCode/*.zip
linuxCode/.vscode/

demos/
replay/
code_craft_2025/
interactor/

*.pdf

log/
.vscode/
data/*.in
data/__pycache__
test/

note/

